# Prerequisites
*.d
.idea/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Log
*.log

*.pyc

/build
/cmake-build-debug/
/cmake-build-debug/_deps/
/cmake-build-release/
/cmake-build-release/_deps/
*/CMakeFiles/
ThirdParty/libtorch/

*/__pycache__/

*/hdf5/
*/fvecs/

commit.sh
commit_info
/PyCANDYFramework.egg-info/
/apps/CPlusPlus/datasets/fvecs/
/apps/CPlusPlus/datasets/hdf5/
