# Prerequisites
*.d
.idea/
 *  Created on: 2024/10/15 18:39:41
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Log
*.log

/build
/cmake-build-debug/
/cmake-build-debug/_deps/
/cmake-build-release/
/cmake-build-release/_deps/
/.cmake/
*.cmake
*/CMakeFiles/
ThirdParty/libtorch/